listeners={{ schema_registry_listeners }}

kafkastore.bootstrap.servers={{ schema_registry_bootstrap_servers }}

ssl.keystore.location={{ kafka_broker_keystore }}
ssl.keystore.password={{ kafka_ssl_password }}
ssl.key.password={{ kafka_ssl_password }}
ssl.truststore.location={{ kafka_broker_truststore }}
ssl.truststore.password={{ kafka_ssl_password }}
ssl.client.auth=none

