broker.id={{ hostvars[inventory_hostname].broker_id }}

log.dirs={{ kafka_log_dirs }}

zookeeper.connect={% for server in zookeeper_servers %}{{ server.host }}:{{ zookeeper_client_port }}{% if not loop.last %},{% endif %}{% endfor %}

listeners=PLAINTEXT://{{ ansible_fqdn }}:9092

advertised.listeners=PLAINTEXT://{{ ansible_fqdn }}:9092

log.retention.hours=168

log.segment.bytes=1073741824

log.retention.check.interval.ms=300000
